.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.actions button {
  padding: 0.5rem 2rem;
  border-radius: var(--fs8);
  border: 1px solid var(--gray);
}

.delete {
  background-color: var(--error);
  color: var(--white);
}
