.item {
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  /* position: relative; */
  /* z-index: 1; */
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actions {
  display: flex;
  margin-left: var(--fs8);
}

.actions button i {
  cursor: pointer;
}

.income {
  color: var(--green);
}

.expense {
  color: var(--red);
}

/* .actions {
    top: 50%;
    left: -12px;
    position: absolute;
    transform: translateY(-50%);
  } */

/* .item:hover .actions {
    display: flex;
  } */
